html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin:0px;
}
.nav-item:hover{
  transform:translateY(-.1rem);
}

.btn:active,.ic:active{
  transform:translateY(2px);
}
.btn:hover,.ic:hover{
  transform:translateY(-2px);
}
.mobile{
  visibility: hidden;
}
@media (min-width: 20em) {
  .mobile{
    visibility: visible;
  }
  .fm{
    width: 75%;
  }
  .career-card{
    display: flex;
    flex-direction: column!important;
  }
  .react,.dots,.cloneDot{
    display: none;
  }
}
@media (min-width: 48em) {
  .mobile{
    visibility: hidden;
  }
  .fm{
    width: 50%;
  }
  .react,.dots,.cloneDot{
    display: block;
  }
}
a{
  color: var(--text-dark);
}
@media (min-width: 64em) {
  .mobile{
    visibility: hidden;
  }
  .career-card{
    display: flex;
    flex-direction: row!important;
  }
  .react,.dots,.cloneDot{
    display: block;
  }
}
.offcanvas-sm{
  --bs-offcanvas-width: 50px;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.so-icon{
  width: 2rem;
  height: 2rem;
}
.icondark{
  fill: var(--text-white);
}
.svgfill{
  fill:white;
}
.nav-item,.navbar-brand{
  cursor: pointer;
}
.fixed-bottom{
  position: absolute;
  padding-left: 8.5px;
}
/*Cards slider css*/
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 0px 0px 1em 0px;
}
.card{
  width: 15rem; 
  height: 20rem;
  box-shadow: 2px 6px 18px rgba(22, 22, 26, 0.18);
  margin: 0em 0em;
  border-color: black;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5vh;
  height: 5vh;
  top: 50%;
  transform: translateY(-50%);
}
.lg-text{
  font-family: "Trirong", serif;
}
.nav-pills .nav-link.active {
  background-color: black;
  opacity: .5;
}
.nav-pills .nav-link{
  color:black;
}
.toc{
  width: 250px;
}
.loc{
  width: 300px;
}
.dropdown-item-text {
  display: block;
  padding: 0.5rem 0;
  color: inherit;
}